---
import Layout from "../layouts/Layout.astro";
import FloatingBox from "../components/SmallBox.astro";
import { Picture } from "astro:assets";
import iconImage from "../assets/profile.jpg";


const years_of_experience = new Date().getFullYear() - 2020;
  
---

<Layout>
  <main>
    <div class="flex flex-col gap-20">
      <article class="md:flex-row-reverse md:justify-end md:gap-12">
        <div class="flex flex-row justify-between sm:grid-cols-3">
          <div class="col-span-2 flex flex-col gap-6 md:gap-8 my-auto">
            <h1 class="text-3xl">Hi, I’m Luise Garberding!</h1>
            <h2 class="w-auto sm:w-[85%] md:w-[90%] leading-6">
              I've been studying <strong class="font-normal text-primary"
                >computer science</strong
              > for the past
              <strong class="font-normal text-primary">{years_of_experience} years</strong>. I focus on <strong
                class="font-normal text-primary"
              >software modeling, databases and algorithms</strong
              >. I'm interested in <strong class="font-normal text-primary"
                >cyber security</strong>.</h2>
              <div class=" flex flex-col gap-y-3" >
              <div class="flex gap-x-3 items-center" >
                <svg class="h-5 w-5 text-black-400"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"/>
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"/>
                </svg> Berlin
              </div>
            <div class="flex flex-row gap-3 items-center">
              <svg class="h-5 w-5 text-black-500"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z" />  <polyline points="22,6 12,13 2,6" /></svg>
              info@luisegarberding.de
            </div>
            <div class="custom-breadcrumbs">
              <ul>
                <li>
                  <a
                    href={
                      "https://github.com/luisegarberding"
                    }
                    rel="noreferrer"
                    target="_blank"
                  >
                   GitHub
                  </a>
                </li>
                <li>
                  <a
                    href={
                      "https://www.linkedin.com/in/luise-garberding/"
                    }
                    rel="noreferrer"
                    target="_blank"
                  >
                   LinkedIn
                  </a>
                </li>
              </ul>
            </div>
          </div>
          </div>
          <div class="ml-5">
            <div class="avatar">
              <div class="w-30 sm:w-60 rounded">
                <Picture
                  src={iconImage}
                  formats={["avif", "webp"]}
                  alt="Profile icon"
                  loading="eager"
                />
              </div>
            </div>
          </div>
        </div>
      </article>

      <article class="flex flex-col gap-8">
        <header class="flex w-full flex-row justify-between gap-2">
          <h3 class="text-lg">Featured projects</h3>
          <a
            href="https://github.com/luisegarberding?tab=repositories"
            class="text-sm text-primary underline decoration-dashed underline-offset-8"
            target="_self"
            rel="noreferrer"
            >See all projects
          </a>
        </header>
        <section
          class="grid grid-cols-1 gap-4 sm:grid-cols-2 justify-center items-stretch"
        >
          

              <FloatingBox
                title={"kunstgraph"}
                href={
                  "https://github.com/bp2023-fn1/kunstgraph"
                }
                tags={
                  ["Neo4J", "Knowledge Graphs", "React", "Python"]
                }
              />
  
              <FloatingBox
                title={"luisegarberding.de"}
                href={
                  "https://github.com/luisegarberding/luisegarberding.de"
                }
                tags={
                  ["Astro", "Netlify", "HTML", "TailwindCSS", "Typescript"]
                }
              />

              


          
          
        </section>
      </article>

     
    </div>
  </main>
</Layout>
